/* remove up/down arrows on number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-image: url(./background_image.jpg);
  background-position: top;  
  background-size: 1300px auto;
  background-repeat: no-repeat;
  background-color: #f3f2f7;
  
}

select:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

.smooth_hover:hover {
  cursor: pointer;  
}

input[type=number] {
  cursor: auto;
}

input[type=submit]:hover {
  background-color: darkblue;  
}

#compare_button:hover {
  background-color: rgb(50, 141, 167);
  color: white;
}

.buy-btn:hover {
  border: 1px darkblue solid;  
}


@media screen and (min-width: 1301px) {
  body {
    background-size: 1500px auto;
  }
}



